{% extends "_layouts/base.html" %} {% block title %}Home Page{% endblock %} {%
block content %}
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">NAD Collaboration Hub</em>
      </div>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col">
      <h3>404 Not Found</h3>
      <p>The server cannot find the requested resource.</p>
    </div>
  </div>
</div>
{% endblock %}
