{% extends "_layouts/base.html" %} {% from "components/card.html" import card %}
{% block title %}Data Checklist{% endblock %} {% block content %}
<div x-data="{ showAddressPoints: true, showDomains: false }">
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text">Data Checklist</em>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav usa-nav-section">
          <div class="usa-nav__inner">
            <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                <button
                  id="summary-button"
                  type="button"
                  class="usa-accordion__button usa-nav__link"
                  aria-expanded="false"
                  aria-controls="extended-mega-nav-section-one"
                  :class="showAddressPoints ? 'usa-current' : ''"
                  @click="showAddressPoints = true; showDomains = false"
                >
                  Address points
                </button>
              </li>
              <li class="usa-nav__primary-item">
                <button
                  id="completeness-button"
                  type="button"
                  class="usa-accordion__button usa-nav__link"
                  aria-expanded="false"
                  aria-controls="extended-mega-nav-section-two"
                  :class="showDomains ? 'usa-current' : ''"
                  @click="showAddressPoints = false; showDomains = true"
                >
                  Domains
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div id="address-points-section" x-show="showAddressPoints">
    <div class="usa-table-default width-full">
      <table class="usa-table usa-table--borderless width-full">
        <thead class="bg-base-lighter border-bottom-2px border-base-light">
          <tr>
            <th scope="col">*</th>
            <th scope="col">NAD field</th>
            <th scope="col">
              Alias <br />
              Description
            </th>
            <th scope="col">Type</th>
            <th scope="col">Length</th>
            <th scope="col">Example</th>
          </tr>
        </thead>
        <tbody>
          {% for field in data_checklist %}
          <tr>
            <th class="border-bottom-1px border-base-lightest" scope="row">
              {{ field.required }}
            </th>
            <td>{{ field.field_name }}</td>
            <td>
              {{ field.alias }} <br />
              {{ field.description }}
            </td>
            <td>{{ field.type}}</td>
            <td>{{ field.length }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="domains-section" x-show="showDomains" class="padding-top-2">
    <div x-data="usaAccordion()" class="usa-accordion">
      <h4 class="usa-accordion__heading">
        <button
          @click="toggle('a1')"
          type="button"
          class="usa-accordion__button"
          :aria-expanded="isOpen('a1')"
          aria-controls="a1"
        >
          AddressNumber
        </button>
      </h4>
      <div
        x-show="isOpen('a1')"
        x-transition
        id="a1"
        class="usa-accordion__content usa-prose"
      >
        <p><span class="text-bold">DomainName:</span> AddressNumber</p>
        <p>
          <span class="text-bold">Description:</span> The numeric identifier of
          a location along a thoroughfare or within a defined community.
        </p>
        <p><span class="text-bold">FieldType:</span> Integer</p>
        <p><span class="text-bold">Domain Type:</span> Range</p>
        <table>
          <thead>
            <tr>
              <th>Minimum Value</th>
              <th>Maximum Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td>999999</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          @click="toggle('a2')"
          type="button"
          class="usa-accordion__button"
          :aria-expanded="isOpen('a2')"
          aria-controls="a2"
        >
          Delivery_Type
        </button>
      </h4>
      <div
        x-show="isOpen('a2')"
        x-transition
        id="a2"
        class="usa-accordion__content usa-prose"
      >
        <p><span class="text-bold">DomainName:</span> Delivery_Type</p>
        <p>
          <span class="text-bold">Description:</span> Flag to separate address
          records with no subaddress information from address records that
          include subaddress information.
        </p>
        <p><span class="text-bold">FieldType:</span> String</p>
        <p><span class="text-bold">Domain Type:</span> CodedValue</p>
        <table>
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Subaddress Included</td>
              <td>Subaddress Included</td>
            </tr>
            <tr>
              <td>Subaddress Excluded</td>
              <td>Subaddress Excluded</td>
            </tr>
            <tr>
              <td>Unstated</td>
              <td>Unstated</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("usaAccordion", () => ({
      openSections: [],

      toggle(section) {
        const index = this.openSections.indexOf(section);
        if (index > -1) {
          this.openSections.splice(index, 1);
        } else {
          this.openSections.push(section);
        }
      },

      isOpen(section) {
        return this.openSections.includes(section);
      },
    }));
  });
</script>

{% endblock %}
