{% extends "_layouts/base.html" %} {% block title %}Home Page{% endblock %} {%
from "components/page-header.html" import page_header %} {% block content %} {{
page_header("National Address Database Submission Tool") }} {% if current_user.is_authenticated %}
<p>Hi, {{ current_user.email }}!</p>
<p>Thanks for logging in with {{ current_user.login_provider }}.</p>
{% else %}
<div>
  <p>Log in to begin.</p>
  <a
    href="{{ url_for('auth.oauth2_authorize', provider='logingov') }}"
    class="usa-button"
    >Sign in with login.gov</a
  >
</div>
{% endif %} {% endblock %}
