{% extends "_layouts/base.html" %} {% block title %}Home Page{% endblock %} {%
block content %}
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">NAD Collaboration Hub</em>
      </div>
    </div>
  </div>
</header>
{% if current_user.is_authenticated %}
<p>Hi, {{ current_user.email }}!</p>
<p>Thanks for logging in with {{ current_user.login_provider }}.</p>
{% else %}
<ul class="usa-card-group padding-top-2">
  <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">Welcome</h2>
      </div>
      <div class="usa-card__body">
        <p>Log in to begin.</p>
      </div>
      <div class="usa-card__footer">
        <a
          href="{{ url_for('auth.oauth2_authorize', provider='cloudgov') }}"
          class="usa-button"
          >Login with cloud.gov</a
        >
      </div>
    </div>
  </li>
</ul>
{% endif %} {% endblock %}
