{% extends "layout/base.html" %} {% block title %}Home Page{% endblock %}
{%block content %}
<h1>Reports</h1>

<table class="usa-table usa-table--borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date Created</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    {# {% for sub in submissions %} #}
    <tr>
      <th scope="row">My Report</th>
      <td>January 31, 2024</td>
      <td><a href="#">View</a></td>
    </tr>
    {# {% endfor %} #}
  </tbody>
</table>
{% endblock %}
