{% extends "_layouts/base.html" %} {% block title %}Mappings{% endblock %} {%
from "components/page-header.html" import page_header %} {% block content %} {{
page_header("Mappings") }}

<div class="usa-card padding-top-2 grid-col-4">
  <div class="usa-card__container">
    <div class="usa-card__header">
      <h2 class="usa-card__heading">Create Your First Mapping</h2>
    </div>
    <div class="usa-card__media">
      <div class="usa-card__img">
        <img
          src="{{ url_for('static', filename='mapping.png') }}"
          alt="A placeholder mapping image"
        />
      </div>
    </div>
    <div class="usa-card__body">
      <p>
        Tell NAD which of your fields maps to NAD's so you can crosswalk your
        address data seamlessly.
      </p>
    </div>
    <div class="usa-card__footer">
      <a
        href="#mapping-modal"
        class="usa-button"
        aria-controls="mapping-modal"
        data-open-modal
        >Create mapping</a
      >
    </div>
  </div>
</div>

<div
  class="usa-modal"
  id="mapping-modal"
  aria-labelledby="mapping-modal-heading"
  aria-describedby="mapping-modal-description"
>
  <div class="usa-modal__content margin-x-0">
    <div class="usa-modal__main width-full">
      <form x-data="MappingForm()" @submit.prevent="createMapping" novalidate>
        <div class="usa-form-group">
          <h2 class="usa-modal__heading" id="mapping-modal-heading">
            New mapping
          </h2>
          <label for="mapping-name">Mapping name</label>
          <br />
          <input
            type="text"
            id="mapping-name"
            name="mapping-name"
            x-model="title"
          />
          <br />
          <span
            class="usa-error-message"
            role="alert"
            x-show="hasError"
            x-text="errorMessage"
          ></span>
          <div class="usa-modal__footer">
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <button type="submit" class="usa-button">Create</button>
              </li>
              <li class="usa-button-group__item">
                <button
                  id="cancel-button"
                  type="button"
                  class="usa-button usa-button--unstyled padding-105 text-center"
                  @click="closeModal"
                >
                  Cancel
                </button>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
