html {
  overflow-y: scroll;
}

.mapping-row {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.usa-input--small {
  width: 200px;
  height: 30px;
}

.usa-select--small {
  width: 200px;
  height: 40px;
  font-size: 0.875rem;
  padding-right: 0px;
}
