{% extends "_layouts/base.html" %} {% block title %}Home Page{% endblock %} {%
block content %} {% from "components/page-header.html" import page_header %} {{
page_header("Reports") }} {% if submissions %}
<div class="usa-table-default width-full">
  <table class="usa-table usa-table--borderless width-full">
    <thead class="bg-base-lighter border-bottom-2px border-base-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for sub in submissions %}
      <tr>
        <th class="border-bottom-1px border-base-lightest" scope="row">
          {{ sub.filename }}
        </th>
        <td>{{ sub.date_created }}</td>
        <td>
          <a
            href="{{ url_for('submissions.view_report', submission_id=sub.id, _external=True) }}"
            >View</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>You haven't uploaded any data submissions yet.</p>
{% endif %} {% endblock %}
