{% extends "_layouts/base.html" %} {% block title %}Submission{% endblock %}
{%block content %}
<div x-data="{ showSummary: true, showCompleteness: false }">
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text"
            >{{ submission.provider_name }} Submission</em
          >
        </div>
        <nav aria-label="Primary navigation" class="usa-nav usa-nav-section">
          <div class="usa-nav__inner">
            <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                <button
                  id="summary-button"
                  type="button"
                  class="usa-accordion__button usa-nav__link"
                  aria-expanded="false"
                  :class="showSummary ? 'usa-current' : ''"
                  @click="showSummary = true; showCompleteness = false"
                >
                  Summary
                </button>
              </li>
              <li class="usa-nav__primary-item">
                <button
                  id="completeness-button"
                  type="button"
                  class="usa-accordion__button usa-nav__link"
                  aria-expanded="false"
                  :class="showCompleteness ? 'usa-current' : ''"
                  @click="showSummary = false; showCompleteness = true"
                >
                  Completeness
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  {% if submission %}
  <div id="report-summary-section" x-show="showSummary">
    <div class="grid-container padding-left-0">
      <div class="grid-row padding-top-2">
        <p>
          NJ submitted Submission 1.0 to US DOT Schema version 3.0 04/2023. Data
          was extracted from 1 file.
        </p>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <h3>{{ submission.report.overview.feature_count }}</h3>
          <p>Total records submitted</p>
        </div>
        <div class="grid-col">
          <h3>{{ submission.report.overview.feature_count }}</h3>
          <p>Records added to NAD</p>
        </div>
        <div class="grid-col">
          <h3>{{ submission.report.overview.features_flagged }}</h3>
          <p>Records flagged</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <h3>{{ submission.report.overview.etl_update_required }}</h3>
          <p>ETL update required</p>
        </div>
        <div class="grid-col">
          <h3>{{ submission.report.overview.data_update_required }}</h3>
          <p>Data update required</p>
        </div>
        <div class="grid-col"></div>
      </div>
      <div class="grid-row padding-top-2">
        {% from "components/card.html" import card %} {% call card("Need
        support? Contact NAD") %}
        <p><a href="mailto:nad@dot.gov">nad@dot.gov</a></p>
        {% endcall %}
      </div>
    </div>
  </div>
  <div id="report-completeness-section" x-show="showCompleteness">
    <div x-data="CompletenessReport({{ submission.id }})">
      <div class="padding-top-2">
        <button
          class="usa-button"
          :class="toggleButtonClass"
          @click.prevent="isGroupedByStatus = ! isGroupedByStatus"
          x-text="buttonText"
        ></button>
      </div>

      <div x-show="isGroupedByStatus">
        <table class="usa-table usa-table--borderless">
          <thead class="bg-base-lighter border-bottom-2px border-base-light">
            <tr>
              <th scope="col">Submitted Field</th>
              <th scope="col">
                <span class="usa-tooltip" data-position="top" title="Required">
                  *
                </span>
                NAD Field
              </th>
              <th scope="col">Status</th>
              <th scope="col">Empty</th>
              <th scope="col">Populated</th>
            </tr>
          </thead>
          <template x-for="grouping in groupedFeatures" :key="grouping.status">
            <tbody>
              <tr>
                <td colspan="5">
                  <span
                    class="usa-tag"
                    :class="getStatusTagClass(grouping.status)"
                    ><span x-text="grouping.status"></span
                  ></span>
                </td>
              </tr>
              <template
                x-for="feature in grouping.features"
                :key="feature.provided_feature_name"
              >
                <tr>
                  <td x-text="feature.provided_feature_name"></td>
                  <td x-text="feature.nad_feature_name"></td>
                  <td>
                    <span
                      class="usa-tag"
                      :class="getStatusTagClass(feature.status)"
                    >
                      <span x-text="feature.status"></span>
                    </span>
                  </td>
                  <td>
                    <span
                      class="font-mono-sm"
                      x-text="feature.null_percentage"
                    ></span>
                    <br />
                    <span
                      class="font-mono-3xs"
                      x-text="feature.null_count"
                    ></span>
                  </td>
                  <td>
                    <span
                      class="font-mono-sm"
                      x-text="feature.populated_percentage"
                    ></span>
                    <br />
                    <span
                      class="font-mono-3xs"
                      x-text="feature.populated_count"
                    ></span>
                  </td>
                </tr>
              </template>
            </tbody>
          </template>
        </table>
      </div>

      <div x-show="!isGroupedByStatus">
        <div class="usa-table-default width-full">
          <table class="usa-table usa-table--borderless">
            <thead class="bg-base-lighter border-bottom-2px border-base-light">
              <tr>
                <th scope="col">Submitted Field</th>
                <th scope="col">
                  <span
                    class="usa-tooltip"
                    data-position="top"
                    title="Required"
                  >
                    *
                  </span>
                  NAD Field
                </th>
                <th scope="col">Status</th>
                <th scope="col">Empty</th>
                <th scope="col">Populated</th>
              </tr>
            </thead>
            <tbody>
              <template
                x-for="feature in report.features"
                :key="feature.provided_feature_name"
              >
                <tr>
                  <td x-text="feature.provided_feature_name"></td>
                  <td x-text="feature.nad_feature_name"></td>
                  <td>
                    <span
                      class="usa-tag"
                      :class="getStatusTagClass(feature.status)"
                    >
                      <span x-text="feature.status"></span>
                    </span>
                  </td>
                  <td>
                    <span
                      class="font-mono-sm"
                      x-text="feature.null_percentage"
                    ></span>
                    <br />
                    <span
                      class="font-mono-3xs"
                      x-text="feature.null_count"
                    ></span>
                  </td>
                  <td>
                    <span
                      class="font-mono-sm"
                      x-text="feature.populated_percentage"
                    ></span>
                    <br />
                    <span
                      class="font-mono-3xs"
                      x-text="feature.populated_count"
                    ></span>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <p>No such submission exists.</p>
  {% endif %}
</div>
{% endblock %}
