.usa-sidenav {
  background-color: var(--Primary-primary-darker, #162e51);
  border-bottom: none;
  padding-left: 2em;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 2em;
  z-index: 1000;
  overflow-y: auto;

  h3 {
    color: var(--Base-base-lightest, #f0f0f0);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h6 {
    color: var(--Primary-primary-lighter, #d9e8f6);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  li {
    // Default state
    a {
      color: $usa-sidenav-default-white !important; // White text for default state
      background-color: transparent !important;

      // Default hover state
      &:hover {
        color: $usa-sidenav-default-white !important; // Keep text white on hover
        background-color: $hover-active-background-color !important; // Change background on hover
      }

      // Default active state
      &:active {
        color: $usa-sidenav-default-white !important; // Keep text white on active
        background-color: $hover-active-background-color !important; // Change background on active
        border: 2px solid $focus-border-color !important; // Unique border for active state
      }

      // Default focus state
      &:focus {
        color: $usa-sidenav-default-white !important; // Keep text white on focus
        background-color: transparent !important; // No background change on focus
        border: 2px solid $focus-border-color !important; // Unique border for focus state
        outline: none; // Remove default outline to use custom border
      }

      // Current (selected) item state
      &.usa-current {
        a {
          color: $usa-sidenav-current-blue !important; // Blue text for current item
          background-color: transparent !important;

          // Current item hover state
          &:hover {
            color: $usa-sidenav-current-blue !important; // Keep text blue on hover
            background-color: $hover-active-background-color !important; // Change background on hover
          }
        }
      }
    }
  }

  .usa-sidenav__item {
    border-top: none;
  }

  .usa-sidenav__logo {
    padding-top: 1em;
  }
}
