@mixin focus-style {
}

.usa-nav-section.usa-nav-section {
  @include focus-style;

  align-items: flex-start !important;
  justify-content: flex-start !important;
  padding: 0px;

  .usa-nav__link {
    span::after {
      content: "";
      display: none;
    }

    &:focus {
      outline: none;
      outline-offset: 0px;
    }
  }
}
