<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_layouts/head.html" with context %}
    <title>{% block title %}{% endblock %} - National Address Database Submission Tool</title>
  </head>
  <body>
    <div class="grid-row minh-viewport">
      <div class="grid-col" style="max-width: 200px">
        {% include "_layouts/sidebar.html" %}
      </div>
      <div class="grid-col">
        <main class="main grid-container" id="main-content">
          <section>{% block content %}{% endblock %}</section>
        </main>
      </div>
    </div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
