<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_layouts/head.html" with context %}
    <title>{% block title %}{% endblock %} - NAD Collaboration Hub</title>
  </head>
  <body>
    <div class="grid-row minh-viewport">
      <div class="grid-col-2">{% include "_layouts/sidebar.html" %}</div>
      <div class="grid-col-10">
        <main class="main" id="main-content">
          <section>{% block content %}{% endblock %}</section>
        </main>
      </div>
    </div>
  </body>
</html>
