{% block sidebar %}
<nav aria-label="Side navigation,">
  <ul class="usa-sidenav height-viewport">
    <div>
      <div class="usa-sidenav__logo">
        <a href="{{ url_for('index') }}">
          <span class="logo-top">National Address Database</span>
          <span class="logo-bottom">Collaboration Hub</span>
        </a>
      </div>
      {# {% if current_user.is_authenticated %} #}
      <li class="usa-sidenav__item">
        <a
          href="{{ url_for('data_checklist') }}"
          class="{{ 'usa-current' if request.path.startswith('/data-checklist') else '' }}"
          >Data Checklist</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="{{ url_for('mappings.index') }}"
          class="{{ 'usa-current' if request.path.startswith('/mappings') else '' }}"
          >Mappings</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="{{ url_for('submissions.reports') }}"
          class="{{ 'usa-current' if request.path.startswith('/reports') else '' }}"
          >Reports</a
        >
      </li>

      <li class="usa-sidenav__item">
        <a
          href="{{ url_for('about') }}"
          class="{{ 'usa-current' if request.path.startswith('/about') else '' }}"
          >About</a
        >
      </li>
    </div>
    {#
    <div>
      <li class="usa-sidenav__item">
        <a href="{{ url_for('auth.logout_provider', provider='cloudgov') }}"
          >Logout</a
        >
      </li>
    </div>
    #} {# {% endif %} #}
  </ul>
</nav>
{% endblock %}
