{% block sidebar %}
<nav aria-label="Side navigation,">
  <ul class="usa-sidenav height-viewport">
    <div class="usa-sidenav__logo">
      <h6>National Address Database</h6>
      <h3>Collaboration Hub</h3>
    </div>
    <li class="usa-sidenav__item">
      {% if request.path.startswith('/reports') %}
      <a href="{{ url_for('home.reports') }}" class="usa-current">Reports</a>
      {% else %}
      <a href="{{ url_for('home.reports') }}">Reports</a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endblock %}
