{% extends "_layouts/base.html" %} {% block title %}Mapping {{
column_map.name}} {% endblock %} {% from "components/icons/arrow_right.html" import arrow_right %}
{% block content %}
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text"
          >{{ "Mapping: " ~ column_map.name }}</em
        >
      </div>
        <a class="usa-button" href="{{ url_for('column_maps.edit', id=column_map.id) }}">Edit</a>
    </div>
  </div>
</header>

<div class="grid-container padding-left-0">
  <div class="display-flex flex-row flex-align-start padding-top-2">
    <div class="display-flex flex-align-center padding-right-2 padding-top-1">Version number: <span class="font-mono-md padding-left-1">{{ column_map.version }}</span></div>
    <div class="display-flex flex-column flex-align-center">
    </div>
  </div>
  <div class="grid-row mapping-row">
    <div class="grid-col-3 text-bold">Your Field</div>
    <div class="grid-col-1"></div>
    <div class="grid-col-3 text-bold">NAD Field</div>
  </div>
  {% for nad_field, mapped_field in column_map.mapping.items() %} {% if
  mapped_field %}
  <div class="grid-row mapping-row">
    <div class="grid-col-3">{{ mapped_field }}</div>
    <div class="grid-col-1">
      {{ arrow_right() }}
    </div>
    <div class="grid-col-3">{{ nad_field }}</div>
  </div>
  {% endif %} {% endfor %}
  </div>

    <form
    x-data="{ isEditingNew: false }"
    action="/column-maps"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" name="_formType" value="new_field" />
    <input type="hidden" name="_id" value="{{ column_map.id }}" />

    <div class="grid-row mapping-row margin-bottom-10" x-show="!isEditingNew">
      <div class="grid-col-3">
        <button
          class="usa-button usa-button--small"
          @click.prevent="isEditingNew = ! isEditingNew"
        >
          Add
        </button>
      </div>
    </div>

    <div x-show="isEditingNew">
      <div class="grid-row mapping-row">
        <div class="grid-col-3 display-flex flex-align-center">
          <input
            type="text"
            name="newField"
            class="usa-input usa-input--small margin-top-0"
            placeholder="Your Field"
            required
          />
        </div>
        <div class="grid-col-1 display-flex flex-column flex-justify-center">
          {{ arrow_right() }}
        </div>
        <div class="grid-col-3 flex-align-center">
          <select
            class="usa-select usa-select--small"
            name="newNadField"
            required
          >
            <option value="">Select a NAD Field</option>
            {% for field in column_map.available_nad_fields %}
            <option value="{{ field }}">{{ field }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="grid-row mapping-row margin-bottom-10">
        <div class="grid-col-3 display-flex flex-row">
          <button
            class="usa-button usa-button--outline usa-button--small"
            @click.prevent="isEditingNew = ! isEditingNew"
            x-show="isEditingNew"
          >
            Cancel
          </button>
          <button
            class="usa-button usa-button--small"
            type="submit"
            x-show="isEditingNew"
          >
            Save
          </button>
        </div>

      </div>
    </div>
  </form>

</div>
{% endblock %}
